@config "../../tailwind.config.js";
@import 'tailwindcss';
@import '@nuxt/ui';

@import './ui.css';

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/open-sans-v44-latin-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/open-sans-v44-latin-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/open-sans-v44-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@layer base {
  html,
  body,
  #__nuxt {
    height: 100%;
    overscroll-behavior: none;
    overflow: hidden;
  }

  button,
  [role='button'] {
    cursor: pointer;
  }

  button:disabled,
  [role='button'][aria-disabled='true'] {
    cursor: not-allowed;
  }
}

/* === Dark Mode Variables === */
:root {
  --color-brand: #2563eb;
  --color-brand-hover: #1d4ed8;

  --color-bg-page: #f9fafb;
  --color-bg-surface: #ffffff;

  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  --color-border: #e5e7eb;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;

  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
}

.dark {
  /* Dark Mode */
  /* --color-background: #0f172a; */
  /* neutral-900 */
  /* --color-foreground: #f8fafc; */
}
